<!DOCTYPE html>
<html>
    <head>
        <title>Tab Pad</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1 style="text-align: center;">Tab Pad</h1>
        <h3 style="text-align: center;">No tabs have been linked to the keyword</h3>
        <h2 style="text-align: center;"><%= name %></h2>
        <h3 style="text-align: center;">Want to save a session to this page? <a href="https://chrome.google.com/webstore/detail/tab-pad/ggcjpnocdhkilfmcdchhifocbilnempp">Use the Tab Pad chrome extension</a></h3>
        <footer>
            <p class="footerText">What is Tab Pad: Tab Pad is the simplest way to save chrome tabs in the cloud. <a href="#">Use the chrome extension</a> to save the URLs of a window's tabs to a passcode in the system. Go to tabpad.me/{passcode} later to open those tabs again in any browser.</p>
            <p class="footerText">Hudson Hughes</p>
        </footer>
    </body>
</html>
